.h1{
	font-size: 32px;
	font-weight: normal;
	line-height: 22px;
	text-align : center;
}

.partie{
	text-align : center;
	font-size : 30px;
}

.sous-partie{
	font-size : 22px;
	width : 100%;
	color: rgb(52,152, 219);
}

.tau_text{
	width : 70%;
	float : right;
}

.tau_im{
	width : 30%;
	float : left;
}

.tau{
	max-width : 95%;
	float : left;
}

.body{
text-indent: 40px;
font-family: Helvetica, sans-serif;
}

.small{
	font-size: small;
}
