.h1{
	font-size: 32px;
	font-weight: normal;
	line-height: 22px;
	text-align : center;
}

p{
	text-indent: 40px;
	font-family: Helvetica, sans-serif;
	margin-bottom: 28px; //espace entre paragraphes
}

.python_class{
	font-size: 16px;
	color:  #ec7063;
	text-align : center;
	text-decoration: underline;
}

.partie{
	text-align : center;
	font-size : 30px;
}

.sous-partie{
	font-size : 22px;
	width : 100%;
	color: rgb(52,152, 219);
}

.tau_text{
	width : 70%;
	float : right;
}

.tau_im{
	width : 50%;
	float : left;
}

.tau{
	max-width : 95%;
	float : left;
}

.small{
	font-size: small;
}

.underline{
	text-decoration: underline;
}


.list{
	list-style-type: circle;
	font-family: Helvetica, sans-serif;
}

div#video_left{
	float:left;
	width:600px;
	height:600px;
	background-color:#fadbd8;
	margin: 5px;

}

div#video_right{
	float:right;
	width:600px;
	height:600px;
	background-color:#fadbd8;
	margin: 5px;

}
